*~
*.o
*.lo
*.loT
*.la
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.sub
config.log
config.status
configure
depcomp
install-sh
libtool
ltmain.sh
missing
INSTALL
src/asoundlib.h
src/recipe.h
src/version.h
alsa.pc
.deps
.libs
